<%= stylesheet_link_tag('home')%>
<div class="container" style="margin-top: 100px; 
align-items: center; flex-direction: column; justify-content: center; display: flex;">

  <% if current_user %>

    <div class="row">
      <div class="banner2">
        <div class="col-md-12">
        <h1 >You're a Booksley member now!</h1>
       </div>
        </div>
  
    </div>
  <div class="linkbox">
     <%= link_to 'Start cataloguing your books', books_path, class:'btn btn-outline-success custom-btn ' %>
     </div>
</div>
<%else%>
<div class="banner">
<h1 class="Welcome">Welcome to Booksley</h1>
</div>
<div class="homepage">
<h4>Booksley is a simple solution allowing you to easily keep track of the books you have read.</h4>
<br>
<p>If you don't have an account, you can sign up for one below.</p>
<%= link_to 'Sign up', new_user_registration_path, class:"btn btn-outline-success" %>
<br>
<p>If you already have an account, please log in below.</p>
<%= button_to 'Log in', new_user_session_path, class:"btn btn-outline-success" %>
</div>
  <%end%>