<h1>Edit book</h1>

<div style="margin-top: 20px; align-items: center; justify-content: center; display: flex; flex-direction: column;">

<%= render "form", book: @book %>

<br>

<div>
 
</div>
</div>
