<header>
<%=render 'pages/searchnavbar'%>
</header>

<p style="color: green"><%= notice %></p>

<h1>My Book Catalogue</h1>



<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%# <%= link_to "Show this book", book %> 
    </p>
  <% end %>
</div>



