<div class="container" style="width: 50%; margin: 50px auto; text-align: center;
 padding: 10px; border-radius: 10px; padding: 50px;">  

<h1>New book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
