<p style="color: green"><%= notice %></p>

<%= render @book %>

<div style="margin-top: 20px; align-items: center; justify-content: center; display: flex; ">
 
  <%= link_to "Back to books", books_path, class:"btn btn-outline-success" %>


</div>
