@font-face {
    font-family: 'Morgana Personal Use';
    src: url('/assets/fonts/MorganaPersonalUseRegular-mL39a.ttf') format('truetype'); 
    // font-weight: normal;
    // font-style: normal;
  }


* {
    font-family: "American Typewriter";
   }


   .btn.btn-outline-success {
    background-color: #748E96;
    border-color: white;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    min-width: 150px;
  }

  .btn.btn-outline-success:hover {
    background-color: white;
    border-color: #748E96;
    color: #748E96;
  }

  